<% if (site.categories.length){ %>
  <div class="widget card border-0 shadow-lg mb-4 bg-gradient">
    <div class="card-header bg-dark text-white d-flex align-items-center border-0">
      <i class="bi bi-tags me-2 fs-4"></i>
      <h5 class="mb-0 flex-grow-1 text-uppercase letter-spacing-1"><%= __('categories') %></h5>
    </div>
    <div class="card-body p-3">
      <ul class="list-group list-group-flush">
        <% site.categories.sort(function(a, b){ return b.posts.length - a.posts.length }).forEach(function(item){ %>
          <li class="list-group-item d-flex justify-content-between align-items-center border-0 bg-transparent">
            <a href="<%- url_for(item.path) %>" class="text-decoration-none text-primary fw-bold text-uppercase">
              <%= item.name.trim()%>
            </a>
            <span class="badge bg-info text-dark rounded-pill shadow-sm px-3 py-2 fs-6"><%= item.posts.length %></span>
          </li>
        <% }); %>
      </ul>
    </div>
  </div>
<% } %>
