<div class="page-header bg-dark text-white rounded shadow-lg p-3 mb-4">
  <h1 class="title text-uppercase letter-spacing-1">
    <% if (config.subtitle){ %><%= config.subtitle %><% } else { %><%= config.title %><% } %>
  </h1>
</div>
<script>
  window.va = window.va || function () { (window.vaq = window.vaq || []).push(arguments); };
</script>
<script defer src="/_vercel/insights/script.js"></script>
<script>
  window.si = window.si || function () { (window.siq = window.siq || []).push(arguments); };
</script>
<script defer src="/_vercel/speed-insights/script.js"></script>
<%- partial('_partial/index', {index: true}) %>
