@import url('https://fonts.googleapis.com/css2?family=IBM+Plex+Mono&display=swap');

/* =============================================================================
   Base structure for Freemind Theme
   ========================================================================== */

.container-narrow {
  margin: 0 auto;
  max-width:970px;
}

.content {
  padding: 20px;
  margin-left: -20px;
  margin-right: -20px;
  border-radius: 6px;
}

#sidebar {
  font-size: 0.9em;
}

a {
    word-break: break-word;
}

.post, .page {
  font-size: 1.2em;
  line-height: 1.5em;
  font-family: 'IBM Plex Mono', monospace;
}

pre code{
  border: none!important;
}

/* RSS button */
.rsspart {
  background: #005211;
  width: 100%;
}
.rsspart a {
  color: #00FF41;
  display: block;
  padding: 0.625em 0;
  text-align: center;
  text-decoration: none;
}
.rsspart a:hover {
  color: #000;
  background: #9effae;
}
.rsspart a::before {
  font-family: "FontAwesome";
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  padding-right: 0.5em;
  content: "\f09e";
}

/* Sidebar Layout Debug */
.container .row .col-md-9,
.container .row .col-md-3 {
  float: left !important;
}
